@media (max-width: 1439px) {
  .card {
    width: 100%;
    height: fit-content;
    padding: 24px;
    border-radius: 24px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
  }
  .imageWrapper {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* object-fit: contain; */
    border-radius: 30px;
    border: solid 2px var(--blue-20);
    padding: 12px;
    position: relative;
  }
  .avatar {
    width: 96px;
    height: 96px;
    object-fit: contain;
    border-radius: 15px;
    background-color: var(--avatar-user-square-bec-ferguson-neutral-background);
  }
  .online {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 2px solid var(--white);
    background-color: var(--leafy-green);
    position: absolute;
    right: 12px;
    top: 12px;
  }
  .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: start;
    align-items: start;
  }
  .infoWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: start;
    align-items: start;
  }
  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    /* height: 56px; */
  }
  .nameWrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 4px;
    align-items: flex-start;
    /* width: fit-content; */
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    color: var(--medium-grey);
  }
  .name {
    font-size: 24px;
    line-height: 1;
    color: var(--dark);
    width: fit-content;
  }
  .headerInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: start;
    align-items: start;
    color: var(--dark);
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;

    margin-top: 20px;
    position: relative;
  }
  .locationWrapper {
    display: flex;

    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    /* padding: 0; */
  }
  .locationIcon {
    width: 16px;
    height: 16px;
    stroke-width: 1.5px;
    stroke: var(--dark);
    fill: var(--white);
  }
  .separator {
    /* width: 1px;
    height: 16px;
    background-color: var(--dark-20); */
    display: none;
  }
  .ratingWrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: start;
    align-items: center;
  }
  .starIcon {
    width: 16px;
    height: 16px;
    fill: var(--sun-yellow);
    stroke: var(--sun-yellow);
    stroke-width: 1.2px;
  }
  .price {
    color: var(--leafy-green);
  }
  .heartBtn {
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
  }

  .heart {
    width: 26px;
    height: 26px;
    stroke-width: 2px;
    stroke: var(--dark);
    fill: var(--white);
  }
  .heartBlue {
    width: 26px;
    height: 26px;
    fill: var(--blue);
    stroke-width: 2px;
    stroke: var(--blue);
  }
  .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: var(--dark-50);
    text-align: justify;
  }
  .readMoreBtn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: underline;
    color: var(--dark);
  }
  .appointmentBtn {
    border-radius: 30px;
    border: none;
    padding: 14px 28px;
    width: fit-content;
    height: 48px;
    color: var(--white);
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.01em;
    margin-top: 23px;
  }
}
@media (min-width: 768px) {
}
@media (min-width: 1440px) {
  .card {
    width: 1184px;
    min-height: 318px;
    padding: 24px;
    border-radius: 24px;
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 24px;
  }
  .imageWrapper {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* object-fit: contain; */
    border-radius: 30px;
    border: solid 2px var(--blue-20);
    padding: 12px;
    position: relative;
  }
  .avatar {
    width: 96px;
    height: 96px;
    object-fit: contain;
    border-radius: 15px;
    background-color: var(--avatar-user-square-bec-ferguson-neutral-background);
  }
  .online {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 2px solid var(--white);
    background-color: var(--leafy-green);
    position: absolute;
    right: 12px;
    top: 12px;
  }
  .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: start;
    align-items: start;
  }
  .infoWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: start;
    align-items: start;
  }
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    height: 56px;
  }
  .nameWrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 8px;
    align-items: flex-start;
    /* width: fit-content; */
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    color: var(--medium-grey);
  }
  .name {
    font-size: 24px;
    line-height: 1;
    color: var(--dark);
    width: fit-content;
  }
  .headerInfo {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: end;
    align-items: center;
    color: var(--dark);
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
  }
  .locationWrapper {
    display: flex;

    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    /* padding: 0; */
  }
  .locationIcon {
    width: 16px;
    height: 16px;
    stroke-width: 1.5px;
    stroke: var(--dark);
    fill: var(--white);
  }
  .separator {
    width: 1px;
    height: 16px;
    background-color: var(--dark-20);
  }
  .ratingWrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: start;
    align-items: center;
  }
  .starIcon {
    width: 16px;
    height: 16px;
    fill: var(--sun-yellow);
    stroke: var(--sun-yellow);
    stroke-width: 1.2px;
  }
  .price {
    color: var(--leafy-green);
  }
  .heartBtn {
    width: 26px;
    height: 26px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 32px;
  }
  /* .heartIcon {
    width: 26px;
    height: 22px;
  } */
  .heart {
    width: 26px;
    height: 26px;
    stroke-width: 2px;
    stroke: var(--dark);
    fill: var(--white);
  }
  .heartBlue {
    width: 26px;
    height: 26px;
    fill: var(--blue);
    stroke-width: 2px;
    stroke: var(--blue);
  }
  .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: var(--dark-50);
  }
  .readMoreBtn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: underline;
    color: var(--dark);
  }
  .appointmentBtn {
    border-radius: 30px;
    border: none;
    padding: 14px 28px;
    width: fit-content;
    height: 48px;
    color: var(--white);
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.01em;
    margin-top: 23px;
  }
}
