.review {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: start;
  align-items: start;
}
.info {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: start;
  align-items: center;
}
.circle {
  display: flex;
  border-radius: 100px;
  border: none;
  width: 44px;
  height: 44px;
  background-color: var(--blue-20);
  color: var(--blue);
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
}
.nameWrapper {
  display: flex;
  flex-direction: column;
  gap: 4;
  justify-content: center;
  align-items: center;
  color: var(--dark);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
}
.rating {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: start;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
}
.starIcon {
  width: 16px;
  height: 16px;
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(17, 16, 28, 0.5);
}
