.listWrapper {
  display: flex;
  flex-direction: column;
  gap: 64px;
  justify-content: start;
  align-items: center;
}
.cardsList {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: start;
  align-items: center;
}

.loadMoreBtn {
  border-radius: 30px;
  border: none;
  padding: 14px 40px;
  width: fit-content;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
}
