.container {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  height: 100vh;
  /* width: 100%; */
  background-color: var(--blue);

  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  position: relative;
}

.textBlock {
  max-width: 290px;
  margin-left: 18px;
  padding-top: 125px;
}
@media (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
    border-radius: 30px;
  }
  .textBlock {
    max-width: 517px;
    margin-left: 96px;
    padding-top: 251px;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1440px;
    height: 736px;
    background-image: url('../../assets/images/bgImg.jpg');
    background-position: right;
    background-size: contain;
  }
  .title {
    font-weight: 500;
    font-size: 70px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: var(--white);
  }
  .text {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.07;
    letter-spacing: -0.02em;
    color: var(--white);
    margin-top: 28px;
    margin-bottom: 64px;
  }
  .linkBtn {
    border: 1px solid var(--white-40);
    color: var(--white);
    border-radius: 30px;
    padding: 18px 50px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 18px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.01em;
  }
  .linkBtn:hover,
  .linkBtn:focus {
    color: var(--white);
  }
  .arrowIcon {
    stroke-width: 2px;
    stroke: var(--white);
    fill: var(--white);
    width: 15px;
    height: 17px;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .container {
    background-image: url('../../assets/images/bgImg2x.jpg');
  }
}
