.container {
  width: 320px;
  padding: 32px 0;
  margin: 0 auto;
  height: 100vh;
  background-color: var(--white-two);
  /* position: absolute; */
  /* top: 90px; */
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 64px 128px 100px;
    height: fit-content;
  }
}
