.authBtns {
  display: none;
}
.button {
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 40px;
  color: var(--white);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: -0.01em;
}
.loginBtn {
  background-color: transparent;
  border: 1px solid var(--white-40);
}
.loginBtn:hover,
.loginBtn:focus {
  background-color: var(--blue);
  border: none;
}
.regBtn {
  border: none;
  background-color: var(--blue);
}
.regBtn:hover,
.regBtn:focus {
  background-color: transparent;
  border: 1px solid var(--white-40);
}
@media only screen and (min-width: 768px) {
  .authBtns {
    display: flex;
    gap: 8px;
  }
}
